.App {
  max-height: 100vh;
}

body {
  background-color: #181818;
  color: white;
  user-select: none;
}

.container {
  padding: 0 20px;
  overflow: auto;
  max-height: calc(100vh - 71px);
}

.songListHeader:first-of-type {
  margin-top: 20px;
}

.songListHeader {
  text-transform: capitalize;
}

.divider {
  padding-bottom: 3px;
  margin-bottom: 0;
  margin-top: 30px;
  border-bottom: 1px solid #282828;
}

.columnIndicator {
  display: flex;
}

.columnIndicator.divider {
  margin-top: 4px;
}

.columnIndicator div {
  width: 30%;
  padding: 0 20px;
  text-transform: uppercase;
  color: #b3b3b3;
}

.columnIndicator div.clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}

.columnIndicator div:last-of-type {
  width: 10%;
  text-align: right;
}

li {
  list-style-type: none;
}

.search {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  color: #757575;
  border-radius: 3px;
  margin-top: 30px;
}

.search input {
  height: 100%;
  flex-grow: 1;
  background-color: transparent;
  border: none;
  padding: 10px 10px;
  color: white;
}

.search:hover,
.search:hover input {
  color: white;
}

.search input:focus {
  outline: none;
}

.search:focus-within {
  background-color: #404040;
}

.searchHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchHeader h3 {
  margin: 0;
}

.searching {
  color: #ff9f1c;
}

.song {
  border-bottom: 1px solid #282828;
  padding: 5px 0;
  /* padding-top: 3px; */
  height: 30px;
  line-height: 30px;

  display: flex;
  justify-content: space-around;
}

.song:hover {
  background-color: #282828;
}

.song div {
  padding: 0 20px;
}

.song .title,
.song .artist,
.song .album {
  width: 30%;
}

.song .duration {
  width: 10%;
}

.song .clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tip {
  color: #b3b3b3;
}

.played {
  margin-bottom: 30px;
}

.dotOverflow {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song .duration {
  text-align: right;
  color: #afafaf;
}

.playing {
  color: #00d668;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #282828;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  border-top: 1px solid #121212;
}

footer div {
  width: 35%;
}

footer .controller {
  width: 30%;
}

.currentMusic {
  height: 70px;
  display: flex;
}

.currentMusic .coverArt {
  width: 70px;
}

.currentMusicText {
  width: 100%;
  padding: 0 0 0 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.currentTitle, .currentArtist {
  width: 100%;
}

.currentTitle {
  margin-top: auto;
}

.currentArtist {
  margin-bottom: auto;
  color: #a6a6a6;
  font-size: 75%;
}

.controller {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white;
}

button:hover {
  color: #00d668;
}

.controlPanelRight {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.volumeControlWrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.volumeControlWrap button {
  width: 30px;
  height: 30px;
  padding: 0;
}

#volumeControl {
  margin: 0 0 0 10px;
  display: flex;
  width: 75%;
}

.totalUsersWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #00d668;
}

/* a lot of range input stuff */

#volumeControl:hover input[type=range]::-webkit-slider-thumb {
  background: #00d668;
}

input[type=range] {
  width: 100%;
  margin: 3.5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: rgba(64, 64, 64, 0.78);
  border: 0;
  border-radius: 15px;
  width: 100%;
  height: 8px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -3.5px;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #434343;
}
input[type=range]::-moz-range-track {
  background: rgba(64, 64, 64, 0.78);
  border: 0;
  border-radius: 15px;
  width: 100%;
  height: 8px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 4.4px 0;
  color: transparent;
  width: 100%;
  height: 8px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #3d3d3d;
  border: 0;
  border-radius: 30px;
}
input[type=range]::-ms-fill-upper {
  background: rgba(64, 64, 64, 0.78);
  border: 0;
  border-radius: 30px;
}
input[type=range]::-ms-thumb {
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(64, 64, 64, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
  background: #434343;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

/* bunch of scrollbar stuff */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #dedede;
}
::-webkit-scrollbar-track {
  background: #4a4a4a;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* media queries */

@media screen and (max-width: 992px) {
  .columnIndicator div:nth-child(3),
  .columnIndicator div:nth-child(4) {
    display: none;
  }
  .columnIndicator div:first-of-type,
  .columnIndicator div:nth-child(2) {
    width: 50%;
  }
  .song .title,
  .song .artist {
    display: inline-block;
    width: 50%;
  }
  .song .album,
  .song .duration {
    display: none;
  }
  footer .controlPanelRight {
    display: none;
  }
  footer .currentMusic {
    width: 50%;
  }
  footer .controller {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .columnIndicator div {
    display: none;
  }
  .columnIndicator div:first-of-type {
    display: inline-block;
    width: 100%;
  }
  .song .title {
    width: 100%;
  }
  .song .artist,
  .song .album,
  .song .duration {
    display: none;
  }
  footer .controlPanelRight {
    display: none;
  }
  footer .currentMusic {
    width: 60%;
  }
  footer .controller {
    width: 40%;
  }
  .tip {
    font-size: 70%;
  }
}
