@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans+KR&display=swap');

:root {
  --primary-color: #00d668;
  --secondary-color: #ff9f1c;
  --secondary-darker-color: #c27a15;
  --primary-text-color: #ffffff;
  --secondary-text-color: #b3b3b3;
  --primary-background-color: #181818;
  --secondary-background-color: #282828;
  --tertiary-background-color: #404040;
  --warning-color: #F20505;
  --highlight-color: #fece01;
  --information-color: #00ffdd;
  --main-font: 'Noto Sans KR', 'Noto Sans JP', sans-serif;
}

.App[data-theme='light']  {
  --primary-color: #ff0055;
  --secondary-color: #cf5e31;
  --secondary-darker-color: #d3b790;
  --primary-text-color: #9c3838;
  --secondary-text-color: #cc5b5b;
  --primary-background-color: #fffafa;
  --secondary-background-color: #ebd4cb;
  --tertiary-background-color: #d39797;
  --warning-color: #F20505;
  --highlight-color: #fece01;
  --information-color: #00ffdd;
  --main-font: 'Noto Sans KR', 'Noto Sans JP', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

.App {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  user-select: none;
  min-height: 100vh;
}

.container {
  counter-reset: music-counter;
  padding: 2em;
  padding-bottom: calc(2rem + 50px);
}

.music {
  height: 3.75em;
  display: flex;
  align-items: center;
  transition: all .4s;
}

.insertAnimation,
.musicList .playing .music,
.musicList .priority .music:last-child {
  animation: insertion .4s;
}

.takeout {
  animation: insertion .4s reverse;
}

.noAnimation .music {
  animation: none;
}

@keyframes insertion {
  from {
    margin-left: -3em;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}

.music:hover {
  background-color: var(--secondary-background-color);
  border-radius: 6px;
}

.music::before {
  counter-increment: music-counter;
  content: counter(music-counter);

  width: 3em;
  text-align: center;
  color: var(--secondary-text-color);

  flex-shrink: 0;
}

.music .titleAndArtist {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: .5em;
  overflow: hidden;
}

.music .artist {
  font-size: 0.75em;
  color: var(--secondary-text-color);
}

.music .album {
  width: 45%;
  padding-right: .5em;
  
}

.music .duration {
  width: 50px;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
  color: var(--secondary-text-color);
}

.columnIndicator {
  width: 100%;
  display: flex;
  padding-bottom: .3em;
  border-bottom: 1px solid var(--secondary-background-color);
}

.columnIndicator div {
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.columnIndicator .number {
  width: 3em;
  text-align: center;
  flex-shrink: 0;
}

.columnIndicator .title {
  width: 45%;
  padding-right: .5em;
}

.columnIndicator .album {
  width: 45%;
  padding-right: .5em;
}

.columnIndicator .duration {
  width: 50px;
  text-align: center;
  flex-grow: 1;
  flex-shrink: 0;
}

.search {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  color: var(--secondary-text-color);
  border-radius: 3px;
}

.search input {
  height: 100%;
  flex-grow: 1;
  background-color: transparent;
  border: none;
  padding: 1em;
  color: var(--primary-text-color);
}

.search:hover,
.search:hover input {
  color: var(--primary-text-color);
}

.search input:focus {
  outline: none;
}

.search:focus-within {
  color: var(--primary-text-color);
  background-color: var(--tertiary-background-color);
}

.search:focus-within input {
  color: var(--primary-text-color);
}

.searching,
.in-progress {
  color: var(--secondary-color);
}

.searching {
  background-color: var(--secondary-color);
}

.searching,
.searching input {
  color: var(--primary-background-color);
}

.searching:hover {
  background-color: var(--secondary-darker-color);
}

.music .clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}

.musicList {
  padding: 1em 0;
}

.playing,
.playing .music::before {
  color: var(--primary-color);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: var(--secondary-background-color);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer:focus {
  outline: none;
}

.footerContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.currentMusic {
  width: 50%;
  height: 70px;
  display: flex;
}

.currentMusic .coverArt {
  width: 70px;
}

.currentMusicText {
  width: 100%;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.music .title,
.music .artist,
.currentTitle,
.currentArtist {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.currentTitle {
  margin-top: auto;
}

.currentArtist {
  margin-bottom: auto;
  color: var(--secondary-text-color);
  font-size: 75%;
}

/* actually i need better controller that works with any screen size */
/* maybe collapse every button to single button which expands buttons upward */
.controller {
  /* min-width: 210px; */
  justify-content: flex-end;
  display: grid;
  grid-template-columns: 70px 70px 140px 70px 70px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-evenly; */
}

.controller button:hover,
.controller div:hover {
  background-color: var(--primary-background-color);
}

.controller button.active,
.controller div.active {
  background-color: var(--tertiary-background-color);
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: var(--primary-text-color);
}

button:hover,
button.active {
  color: var(--primary-color);
}

button.disabled {
  color: var(--warning-color);
}

.volumeControlWrap {
  /* width: 50%; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.volumeControlWrap button {
  width: 30px;
  height: 30px;
  padding: 0;
}

#volumeControl {
  display: flex;
  width: 65%;
  margin-left: .3em;
}

.totalUsersWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--primary-color);
}

.total_users {
  padding-left: 10px;
}

/* a lot of range input stuff */

#volumeControl:hover input[type=range]::-webkit-slider-thumb,
#volumeControl:hover input[type=range]::-moz-range-thumb,
/* however -ms-thumb doesn't color */
#volumeControl:hover input[type=range]::-ms-thumb {
  background: var(--primary-color);
}

input[type=range] {
  width: 100%;
  margin: 3.5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: var(--tertiary-background-color);
  border: 0;
  border-radius: 15px;
  width: 100%;
  height: .5em;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -3.5px;
  width: .5em;
  height: 1em;
  background: var(--primary-text-color);
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--tertiary-background-color);
}
input[type=range]::-moz-range-track {
  background: var(--tertiary-background-color);
  border: 0;
  border-radius: 15px;
  width: 100%;
  height: .5em;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: .5em;
  height: 1em;
  background: var(--primary-text-color);
  border: 0;
  border-radius: 15px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 4.4px 0;
  color: transparent;
  width: 100%;
  height: .5em;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: var(--tertiary-background-color);
  border: 0;
  border-radius: 30px;
}
input[type=range]::-ms-fill-upper {
  background: var(--tertiary-background-color);
  border: 0;
  border-radius: 30px;
}
input[type=range]::-ms-thumb {
  width: .5em;
  height: 1em;
  background: var(--primary-text-color);
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--tertiary-background-color);
}
input[type=range]:focus::-ms-fill-upper {
  background: var(--tertiary-background-color);
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

@media screen and (max-width: 992px) {
  .columnIndicator .title,
  .music .titleAndArtist {
    width: 100%;
  }

  .columnIndicator .album,
  .music .album {
    display: none;
  }

  .controller {
    grid-template-columns: repeat(4, 70px);
  }

  .volumeControlWrap {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: .75em;
  }

  .columnIndicator .duration,
  .music .duration {
    display: none;
  }

  .currentMusicText {
    padding-left: .5em;
  }

  .controller {
    grid-template-columns: repeat(3, 70px);
  }

  .totalUsersWrap {
    display: none;
  }
}
