.loader {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;

  position: absolute;
  z-index: 100;
  background-color: #181818;
}

.transparent {
  background-color: transparent;
}

.cls-1 {
  fill: #00d668;
}

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5 {
  fill-rule: evenodd;
}

.cls-2 {
  fill: #ff9f1c;
}

.cls-3 {
  fill: #fece01;
}

.cls-4 {
  fill: #0470fe;
}

.cls-5 {
  fill: #fe4ea3;
}

svg {
  height: 25vh;
}

@keyframes animatePath {
  0% {
    opacity: 0;
    fill: #181818;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes animatePathLine {
  0% {
    transform: translate(20px, -20px);
  }
  100% {}
}

/* here i really don't know correct answer */
/* it might be better to use inline styling */
path#main_star {
  animation: animatePath -.9s linear 1s infinite alternate;
}
.complete #main_star {
  animation: animatePath -.9s linear 1s forwards alternate;
}

path#line_1 {
  animation: animatePath -.8s linear 1s infinite alternate,
             animateLine -1s linear 1s infinite alternate;
}
.complete #line_1 {
  animation: animatePath -.8s linear 1s forwards alternate,
             animateLine -1s linear 1s forwards alternate;
}

path#line_2 {
  animation: animatePath -.7s linear 1s infinite alternate,
             animateLine -.7s linear 1s infinite alternate;
}
.complete #line_2 {
  animation: animatePath -.7s linear 1s forwards alternate,
             animateLine -.7s linear 1s forwards alternate;
}

path#line_3 {
  animation: animatePath -.6s linear 1s infinite alternate,
             animateLine -.4s linear 1s infinite alternate;
}
.complete #line_3 {
  animation: animatePath -.6s linear 1s forwards alternate,
             animateLine -.4s linear 1s forwards alternate;
}

path#note_like_thing {
  animation: animatePath -.5s linear 1s infinite alternate;
}
.complete #note_like_thing {
  animation: animatePath -.5s linear 1s forwards alternate;
}

path#note_1 {
  animation: animatePath -.4s linear 1s infinite alternate;
}
.complete #note_1 {
  animation: animatePath -.3s linear 1s forwards alternate;
}

path#note_2 {
  animation: animatePath -.3s linear 1s infinite alternate;
}
.complete #note_2 {
  animation: animatePath -.3s linear 1s forwards alternate;
}

path#note_3 {
  animation: animatePath -.2s linear 1s infinite alternate;
}
.complete #note_3 {
  animation: animatePath -.2s linear 1s forwards alternate;
}

#note_4 {
  animation: animatePath -.1s linear 1s infinite alternate;
}
.complete #note_4 {
  animation: animatePath -.1s linear 1s forwards alternate;
}

@keyframes animateFadeOut {
  0% {

  }
  100% {
    opacity: 0;
    display: none;
    z-index: -100;
  }
}

.loader.hide {
  animation: animateFadeOut .3s linear forwards;
}
