.lyricsWrap {
  width: 100%;
  height: calc(100vh - 71px);
  position: absolute;
  z-index: 98;

  display: flex;
  flex-direction: column;
  text-align: center;

  background-color: rgba(82, 82, 82, 0.5);
  backdrop-filter: blur(10px);
}

.lyricsWrap:focus {
  outline: none;
}

.lyricsHeaderWrap {
  width: 100%;
  height: 5%;
  font-size: 1.5rem;
  display: flex;
  border-bottom: 1px solid white;
  padding: 1rem 0;
}

.lyricsHeaderWrap div {
  width: 20%;
}

.lyricsHeaderWrap .lyricsHeaderMiddle {
  width: 60%;
}

.lyricsHeaderRight {
  display: flex;
  justify-content: center;
}

.lyricsHeaderRight button {
  height: 100%;
  text-transform: capitalize;
}

.lyricsHeaderRight span {
  font-size: 1.2rem;
  margin-left: 5px;
}

.lyrics {
  color: white;
  font-size: 1.5rem;
  overflow-y: scroll;
  user-select: text;
  padding: 1rem 0;
  /* firefox */
  scrollbar-color: #d1d1d1 #4a4a4a;
  scrollbar-width: thin;
}

::selection {
  background-color: rgba(255, 255, 255, 0.1);
}
