.lyricsWrap {
  width: 100%;
  /* height: calc(100vh - 75px); */
  /* margin-bottom: 75px; */

  display: flex;
  flex-direction: column;
  text-align: center;

  background-color: var(--primary-background-color);
}

.lyricsWrap:focus {
  outline: none;
}

.lyricsHeaderWrap {
  width: 100%;
  height: 5%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--primary-text-color);
  padding: 1rem 0;
}

.lyricsHeaderWrap div {
  width: 20%;
}

.lyricsHeaderWrap .lyricsHeaderMiddle {
  width: 60%;
}

.lyricsHeaderRight {
  display: flex;
  justify-content: space-evenly;
}

.lyricsHeaderRight button {
  height: 100%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.lyricsHeaderRight span {
  font-size: 1.2rem;
  margin-left: 5px;
}

.lyrics {
  color: var(--primary-text-color);
  font-size: 1.5rem;
  user-select: text;
  padding: 1rem 0;
  margin-top: 0;
  margin-bottom: 75px;
}

.lyrics.dynamic {
  height: calc(100vh - 75px);
  padding: 0;
  display: grid;
  align-items: center;
  justify-content: center;
}

.focused.lyrics {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

.lyricsEditor {
  resize: none;
  height: calc(100vh - 75px);
  padding: 10px;
  font-size: 1.1rem;
  /* editor should be consistent i guess */
  color: black;
  background-color: white;
}

.lyricsEditor:focus {
  outline: none;
}

.lyricsEditor::selection {
  background-color: var(--highlight-color);
}

::selection {
  color: var(--primary-background-color);
  background-color: var(--primary-text-color);
}
